<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Group On</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >

		{{> header}}
		<div class="devider"></div>
		<div class="image1"></div>
		<p>It’s strongly recommended to use one of the other installation methods if possible This installation method will not autoupdate and requires you to use the system node which may be older than the node we develop for. We tend to use very current releases of node and do not back-support older versions. If you use any of the other methods of install, it will include node and won’t conflict with any node on the system.</p>
		{{> footer}}
</body>
</html>